.seccion-contacto {
    margin-top: 1rem;
    display: flex; 
    gap: 2rem;
    padding: 3rem;

    .imagencontacto {
            object-fit: cover;
    }

   @include mobile {
            display: flex; 
            flex-direction: column; 
            gap: 2rem;
            padding: 3rem;
        }
}

    input[type=text], input[type=email], textarea  {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
        border: 2px solid $secondarycolor;
        border-radius: 4px;
      }
    
      input[type=button], input[type=submit], input[type=reset] {
        color: $lightcolor;
        background-color: $secondarycolor;
        border: 2px solid $secondarycolor;
        border-radius: 2px;
        transition-duration: 0.4s;
        padding: 5px;
        width: 100%;
      }
    