.navbar-toggler:focus {
    box-shadow: none;
}

.navbar-brand {

max-width:70%;

img {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    
    @media screen and (max-width:$breakpoint-small) {
        width:95%;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }
}

}