.navbar-toggler:focus {
    box-shadow: none;
}

.offcanvas-title {
    letter-spacing: 0.5rem;
}

.navbar-brand {
max-width:60%;

img {
   width: 70%;
    
    @media screen and (max-width:$breakpoint-small) {
        width:100%;
       
    }
}

}