.grid-tarjetas {
    margin-top: 5%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    color: $darkcolor;
    padding: 2rem;

   @include mobile {
            display: grid;
            grid-template-columns: 1fr;
            column-gap: 3rem;
            padding: 3rem;
        }

    .tarjeta-proyecto {
        background-color: $lightcolor;
        padding: 0.5rem;
        display: flex;
        align-items: start;
        flex-direction: column;
    
        img {
        width: 100%;
        object-fit: cover;
        padding: 10px;
        }

        h2 {
            font-size: 1.3rem;
            font-weight: bold;
            padding-left: 10px;
        }

        p {
            margin: 0;
            padding-left: 10px;
        }
    }

}

