.titulo-seccion {
    margin-top: 10rem;
    color: $darkcolor;
    text-align: center;
    letter-spacing: 0.5rem;

    -webkit-animation:scale-up-center .5s cubic-bezier(.39,.575,.565,1.000) both;animation:scale-up-center .5s cubic-bezier(.39,.575,.565,1.000) both;

    @media screen and (max-width:$breakpoint-small) {
        margin-top: 10rem;

        img {
            width: 80%;

        }

    }

    h3 {
        margin-top: 4rem;
    }
}

@-webkit-keyframes scale-up-center{0%{-webkit-transform:scale(.5);transform:scale(.5)}100%{-webkit-transform:scale(1);transform:scale(1)}}@keyframes scale-up-center{0%{-webkit-transform:scale(.5);transform:scale(.5)}100%{-webkit-transform:scale(1);transform:scale(1)}}